/* Reset Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colore sfondo e style scrittura */
body {
    background-color: rgb(235, 235, 235);
    font-family: Arial, sans-serif;
}

/* Colore contenitore e sposto gli elementi */
header {
    height: 90px;
    background-color: rgb(255, 255, 255);
    line-height: 90px;
    margin-bottom: 30px;
}

/* Logo */
#logo {
    padding-left: 15px;
    vertical-align: middle;
}

/* h1 in linea con il logo */
h1 {
    display: inline;
    font-weight: 800;
    vertical-align: middle;
    font-size: 40px;
}

/* Faccio in modo che il mio contenitor-button non si espandi 
    e accentro il suo contenuto */
.container-button {
    height: 80px;
    max-width: 920px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    line-height: 80px;
    border-radius: 10px 10px 0 0;
}

/* Creo le similitudini tra i due bottoni */
.button {
    border-radius: 5px;
    text-decoration: none;
    vertical-align: middle;
    padding: 5px 15px;
    font-size: 20px;  
    border: 1px solid currentColor;
}

/* Bottono blu */ 
.button-blu {
    background-color: rgb(48, 168, 238);
    color: rgb(255, 255, 255);
    margin-left: 30px;
}

/* Bottone bianco */ 
.button-white {
    color: rgb(152, 147, 147);
}

/* Contenitore Sezione contenuto */
.container-section {
    max-width: 920px;
    margin: 3px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    padding-top: 30px;
    padding-left: 30px;
}

/* Titolo Liste */
h2 {
    padding-top: 15px;
    font-size: 25px;
}

/* Genitore Lista */
ul {
    list-style: none;
    padding-top: 10px;
}

/* Figli della Lista */
li {
    padding-bottom: 10px;
} 

/* Dimensioni Text della Lista */
.text {
    font-size: 20px;
    vertical-align: middle;
}

/* Dimensionamento di True e False */
.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%; 
    margin-right: 5px;
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
}

/* Colore del True */
.true {
    color: rgb(0, 225, 0);
    border: 1px solid rgb(0, 225, 0);
}

/* Colore del False*/
.false {
    color: rgb(225, 0, 0);
    border: 1px solid rgb(225, 0, 0);
}

/* Testo interno degli Span */
.text-clear {
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

/* Colori */
.blu {
    background-color: rgb(0, 145, 255);
}

.purple {
    background-color: rgb(97, 8, 180);
}

.aqua {
    background-color: rgb(2, 148, 123);
}

.orange {
    background-color: rgb(255, 204, 0);
}

.rose {
    background-color: rgb(218, 130, 194);
}

.green {
    background-color: rgb(94, 185, 69);
}
